<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyect.DAO.Config.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Proyect.DAO.Config.Conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Proyect.DAO.Config.Config>
            <setting name="con" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Juan.P.Irons\Documents\ProyectoBD.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
            <setting name="Valor" serializeAs="String">
                <value>select * from Usuario where NombreUser=@user and PassUser=@pass </value>
            </setting>
            <setting name="ValorUser" serializeAs="String">
                <value>declare @users VARCHAR(29)='admin'</value>
            </setting>
            <setting name="ValorPass" serializeAs="String">
                <value>declare @pass VARCHAR(29)='admin'</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>select * from Usuario where NombreUser=@users and PassUser=@pass</value>
            </setting>
            <setting name="Registro" serializeAs="String">
                <value />
            </setting>
        </Proyect.DAO.Config.Config>
        <Proyect.DAO.Config.Conf>
            <setting name="con" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Juan.P.Irons\Documents\ProyectoBD.mdf;Integrated Security=True;Connect Timeout=5000</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="log" serializeAs="String">
                <value>select isnull(max(cast(IdLog as int)),0)+1 from Logs</value>
            </setting>
            <setting name="SetLog" serializeAs="String">
                <value>insert into Logs values('{0}','{1}','{2}','{3}')</value>
            </setting>
            <setting name="GetUsuarios" serializeAs="String">
                <value>select * from Usuario where NombreUsuario='{0}' and PassUsuario='{1}'</value>
            </setting>
            <setting name="SignUser" serializeAs="String">
                <value>select isnull(max(cast(IdUsuario as int)),0)+1 from Usuario</value>
            </setting>
            <setting name="SignPersona" serializeAs="String">
                <value>select isnull(max(cast(IdPersona as int)),0)+1 from Persona</value>
            </setting>
            <setting name="Valor" serializeAs="String">
                <value />
            </setting>
            <setting name="GetEmpresa" serializeAs="String">
                <value>select * from Empresa</value>
            </setting>
            <setting name="GetEmpleado" serializeAs="String">
                <value>select * from Empleado</value>
            </setting>
            <setting name="GetCampaña" serializeAs="String">
                <value>select * from Campaña</value>
            </setting>
            <setting name="GetUsuario" serializeAs="String">
                <value>select * from Usuario</value>
            </setting>
            <setting name="GetPersona" serializeAs="String">
                <value>select * from Persona</value>
            </setting>
            <setting name="GetRegistroSalud" serializeAs="String">
                <value>select * from RegistroSalud</value>
            </setting>
            <setting name="GetLogs" serializeAs="String">
                <value>select * from Logs</value>
            </setting>
            <setting name="SetEmpleado" serializeAs="String">
                <value>insert into Empleado values ('{0}','{1}','{2}','{3}','{4}')</value>
            </setting>
            <setting name="DelEmpleado" serializeAs="String">
                <value>delete from Empleado where IdEmpleado = '{0}'</value>
            </setting>
            <setting name="SetEmpresa" serializeAs="String">
                <value>insert into Empresa values ('{0}','{1}','{2}','{3}')</value>
            </setting>
            <setting name="DelEmpresa" serializeAs="String">
                <value>delete from Empresa where RutEmpresa = '{0}'</value>
            </setting>
            <setting name="SetCampaña" serializeAs="String">
                <value>insert into Campaña values ('{0}','{1}','{2}','{3}','{4}')</value>
            </setting>
            <setting name="DelCampaña" serializeAs="String">
                <value>delete from Campaña where IdCampaña = '{0}'</value>
            </setting>
            <setting name="SetUsuario" serializeAs="String">
                <value>insert into Usuario values ('{0}','{1}','{2}','{3}','{4}')</value>
            </setting>
            <setting name="DelUsuario" serializeAs="String">
                <value>delete from Usuario where IdUsuario = '{0}'</value>
            </setting>
            <setting name="SetRegistro" serializeAs="String">
                <value>insert into RegistroSalud values ('{0}','{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}','{11}','{12}')</value>
            </setting>
            <setting name="DelRegistro" serializeAs="String">
                <value>delete from RegistroSalud where IdRegistro = '{0}'</value>
            </setting>
        </Proyect.DAO.Config.Conf>
    </applicationSettings>
</configuration>